body {
  margin: 0;
}

main {
  margin: 5px;
  width: 90%;
  margin: auto;
}
/*Header*/
header {
  height: 100px;
  width: 100%;
  background-image: url(../img/pattern.png);
  background-size: 385px;
  background-color: rgb(78, 160, 255);
}

.site-name {
  height: 40px;
  margin-top: 50px;
  margin-left:5%;
}
/*---------------------*/

/*Section 1 - Tim Berners-Lee*/
.maintitle {
  font-size: 45px;
  letter-spacing: -1px;
  margin-bottom: 0px;
}

.writtenby {
  font-weight: bold;
  margin: 0px;
}

.color {
  color: rgb(150, 150, 150);
}

.booleaner {
  color: rgb(43, 173, 230);
}

.smaller {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 10px;
}

.pic-credits {
  font-size: 10px;
  margin-top: 0px;
}
/*-----------------------------------*/
/*Section 1 - Lorem ipsum + lorem list */
.highlight {
  background-color: yellow;
}
/*-----------------------------------*/
/*Section 3 - Lorem Ipsum table*/
table {
  table-layout: auto;
  width: 100%;
  border-spacing: 0;
}

thead {
  text-align: left;
}

.ao {
  width: 50%;
}

.title-row {
  background-color: rgb(32, 169, 229);
  color: white;
}

.blue-row {
  background-color: rgb(177, 229, 242);
}
/*-----------------------------------*/
/*Section 4 - Potrebbero interessarti*/

.img1 {
  background-image: url(../img/monitor.jpg);
}

.img2 {
  background-image: url(../img/graph.jpg);
}

.size {
  width: 312px;
  height: 208px;
}

.see-this {
  font-weight: bold;
  font-size: 16px;
  color: rgb(120, 120, 120);
  margin-top: 15px;
}

.c4text {
  color: #fff;
  margin: 15px;
}
